<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>        
      
        <bindings>
            <basicHttpBinding>
                <binding name="AdministrarClientesEndpointBinding" />
            </basicHttpBinding>
        </bindings>
        <client>

          <!--url Original http, no htts-->
          <!--<endpoint address="http://esbintprutls.compensar.com/Services/Activity/AdministrarClientes/WS/Implementation/AdministrarClientes.serviceagent/AdministrarClientesEndpoint"
                binding="basicHttpBinding" bindingConfiguration="AdministrarClientesEndpointBinding"
                contract="CompensarReference1.AdministrarClientes" name="AdministrarClientesEndpoint" />-->

          <!--url generada por .net-->  
          <endpoint address="http://vmprurhesb01:13123/Services/Activity/AdministrarClientes/WS/Implementation/AdministrarClientes.serviceagent/AdministrarClientesEndpoint"
                binding="basicHttpBinding" bindingConfiguration="AdministrarClientesEndpointBinding"
                contract="CompensarReference1.AdministrarClientes" name="AdministrarClientesEndpoint" />
        </client>
    </system.serviceModel>
</configuration>