<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>        
      
        <bindings>
            <basicHttpBinding>
                <binding name="AdministrarClientesEndpointBinding" />
            </basicHttpBinding>
            <basicHttpsBinding>
                <binding name="AdministrarClientesEndpointBindingHttps" />
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://esbintprutls.compensar.com/Services/Activity/AdministrarClientes/WS/Implementation/AdministrarClientes.serviceagent/AdministrarClientesEndpoint"
                binding="basicHttpsBinding" bindingConfiguration="AdministrarClientesEndpointBindingHttps"
                contract="CompensarReference.AdministrarClientes" name="AdministrarClientesEndpoint" />
        </client>
    </system.serviceModel>
</configuration>